.m-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap
}
.el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner {
  width: 100%;
}
.m-select {
  width: 100%;
}
.first-columns{
  display: flex;
  
}
.first-columns .expan-icon i{
  cursor: pointer;
  font-weight: 900;
  font-size: 13px;
}
.el-table .cell.el-tooltip .m-item{
  word-break: break-all;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mform-item{
  white-space: nowrap;
}